body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #CC9B60;
  background-color: #2D0880;
   background-image: url("https://f.cloud.github.com/assets/5033780/956196/cd5dd326-0438-11e3-9f0b-37971f40b0b2.jpg")
}

a {
  color: #E7AB90;
} 

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #5CA900;
}

.page-header {
  border-bottom: 1pxpx solid #97D6F0;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #C6F010;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #26D520;
  border: 1px solid #ccc;
}

.well {
  background-color: #275110;
}

.btn {
  color: #817B30;
  background-image: -moz-linear-gradient(top, #81B2B0, #636570);
  background-image: -ms-linear-gradient(top, #81B2B0, #636570);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#81B2B0), to(#636570));
  background-image: -webkit-linear-gradient(top, #81B2B0, #636570);
  background-image: -o-linear-gradient(top, #81B2B0, #636570);
  background-image: linear-gradient(top, #81B2B0, #636570);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'81B2B0, endColorstr='#'636570, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #817B30;
  background-color: #636570;
}

.btn-primary {
  background-color: #006dcc;
  color: #460C10;
  background-image: -moz-linear-gradient(top, #7191B0, #C349A0);
  background-image: -ms-linear-gradient(top, #7191B0, #C349A0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7191B0), to(#C349A0));
  background-image: -webkit-linear-gradient(top, #7191B0, #C349A0);
  background-image: -o-linear-gradient(top, #7191B0, #C349A0);
  background-image: linear-gradient(top, #7191B0, #C349A0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'7191B0, endColorstr='#'C349A0, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #C349A0;
}

.btn-warning {
  color: #97D5C0;
  background-image: -moz-linear-gradient(top, #788DC0, #4EBAF0);
  background-image: -ms-linear-gradient(top, #788DC0, #4EBAF0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#788DC0), to(#4EBAF0));
  background-image: -webkit-linear-gradient(top, #788DC0, #4EBAF0);
  background-image: -o-linear-gradient(top, #788DC0, #4EBAF0);
  background-image: linear-gradient(top, #788DC0, #4EBAF0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'788DC0, endColorstr='#'4EBAF0, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #4EBAF0;
}

.btn-danger {
  color: #E716F0;
  background-image: -moz-linear-gradient(top, #5C4930, #5679F0);
  background-image: -ms-linear-gradient(top, #5C4930, #5679F0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5C4930), to(#5679F0));
  background-image: -webkit-linear-gradient(top, #5C4930, #5679F0);
  background-image: -o-linear-gradient(top, #5C4930, #5679F0);
  background-image: linear-gradient(top, #5C4930, #5679F0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5C4930, endColorstr='#'5679F0, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #5679F0}

.btn-success {
  color: #65FF50;
  background-image: -moz-linear-gradient(top, #FF54E0, #81DF90);
  background-image: -ms-linear-gradient(top, #FF54E0, #81DF90);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FF54E0), to(#81DF90));
  background-image: -webkit-linear-gradient(top, #FF54E0, #81DF90);
  background-image: -o-linear-gradient(top, #FF54E0, #81DF90);
  background-image: linear-gradient(top, #FF54E0, #81DF90);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'FF54E0, endColorstr='#'81DF90, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #81DF90;
}

.btn-info {
  color: #05FF00;
  background-image: -moz-linear-gradient(top, #537440, #312470);
  background-image: -ms-linear-gradient(top, #537440, #312470);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#537440), to(#312470));
  background-image: -webkit-linear-gradient(top, #537440, #312470);
  background-image: -o-linear-gradient(top, #537440, #312470);
  background-image: linear-gradient(top, #537440, #312470);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'537440, endColorstr='#'312470, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #312470;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #E72ED0;
  border-color: #EEC7C0;
}
.alert-success, .alert-success .alert-heading {
  color: #704E60;
}
.alert-danger, .alert-error {
  background-color: #8E0C90;
  border-color: #22FC20;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #63A7E0;
}
.alert-info {
  background-color: #0ED700;
  border-color: #3CB2B0;
}
.alert-info, .alert-info .alert-heading {
  color: #BC61A0;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #5F0810, #97EEC0);
  background-image: -ms-linear-gradient(top, #5F0810, #97EEC0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5F0810), to(#97EEC0));
  background-image: -webkit-linear-gradient(top, #5F0810, #97EEC0);
  background-image: -o-linear-gradient(top, #5F0810, #97EEC0);
  background-image: linear-gradient(top, #5F0810, #97EEC0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5F0810, endColorstr='#'97EEC0, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #604680;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #D95910;
  border-right: 1px solid #1B0080;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #DD4550;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #032EE0;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #36E590;
  background-color: #FC4BF0;
}

.label-important,
.badge-important {
  background-color: #5D6650;
}

.label-warning,
.badge-warning {
  background-color: #84FBB0;
}

.label-success,
.badge-success {
  background-color: #516B30;
}

.label-info,
.badge-info {
   background-color: #5439D0;
}
